<div id="classics" class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Chicken Soup</h4>
        
            <ul>
                <li>2 Bone-In Chicken Breasts</li>
                <li>2 tablespoons Butter</li>
                <li>1 pound Leeks, washed and sliced thin</li>
                <li>3 Carrots, peeled and sliced</li>
                <li>4 Celery Ribs, sliced thin</li>
                <li>2 cloves Garlic, minced</li>
                <li>3 sprigs Fresh Thyme</li>
                <li>1 Bay Leaf</li>
                <li>8 cups Chicken Broth</li>
                <li>Salt and Pepper</li>
            </ul> 

            <p>Saute leeks, carrots and celery in butter until soft. Add garlic and cook for 30 seconds. 
            <br>Season chicken with salt and pepper and place in pan on top of sauteed veggies. 
            <br>Pour in chicken broth, add thyme sprigs and bay leaf.
            <br>Bring to boil and allow to simmer about 20 minutes, until chicken is cooked through. 
            <br>Remove chicken from pot, allow to cool, then shred into small pieces.
            <br>Remove bay leaf and thyme springs from pot, add shredded chicken back to pot.
            <br>Season with salt and pepper to taste. Serve.</p>

            <a href="/recipe-input">Add Your Recipe</a>         
        </div>
    </div>
</div>

<h3>Twisted Versions of Chicken Soup</h3>