<div id="classics" class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Chocolate Cake</h4>
        
            <ul>
                <li>4oz Unsweetened Chocolate</li>
                <li>1/4 cup Cocoa Powder</li>
                <li>1 1/4 cups boiling water</li>
                <li>1 1/2 cups Cake Flour</li>
                <li>1 teaspoon Baking Soda</li>
                <li>1/4 teaspoon Salt</li>
                <li>8oz butter, room temperature</li>
                <li>1 1/2 cups dark brown sugar</li>
                <li>3 Eggs</li>
                <li>1/2 cup Sour Cream</li>
                <li>1 teaspoon Vanilla Extract</li>
            </ul> 

            <p>Preheat oven to 350 degrees. 
            <br>Whisk together chocolate, cocoa powder and boiling water until smooth. 
            <br>Combine dry ingredients.
            <br>Beat butter and brown sugar on high speed until light and fluffy. 
            <br>Add eggs and vanilla, mix thoroughly. Then add sour cream and mix until incorporated.
            <br>Alternate adding dry ingredients and chocolate mixture until batter is smooth and combined.
            <br>Divide batter among desired pans and back 20-25 minutes, depending on pan size.
            <br>Cool completely and frost with your favortie icing.</p>

            {{!-- {{#if loggedIn}} --}}
            <a href="/recipes">Add Your Recipe</a> 
            {{!-- {{/if}}          --}}
        </div>
    </div>
</div>

<h3>Twisted Versions of Chocolate Cake</h3>