<div id="classics" class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Fried Rice</h4>
        
            <ul>
                <li>2 cups cooked Jasmine Rice</li>
                <li>2 Eggs</li>
                <li>1 tablespoon Vegetable Oil</li>
                <li>1 Carrot, chopped</li>
                <li>2 ounces cubed Ham Steak</li>
                <li>2 Scallions, sliced</li>
                <li>1/4 cup Frozen Peas</li>
                <li>Soy Sauce</li>
                <li>Salt and Pepper</li>
            </ul> 

            <p>Beat eggs. Heat 1/2T of oil in saute pan, scramble eggs, set aside. 
            <br>Saute carrots and ham in remaining oil. 
            <br>Add rice and peas and continue to cook. 
            <br>Stir in scrambled eggs and scallions and allow to heat through. 
            <br>Season with salt, pepper and soy sauce to taste. Serve.</p>

            <a href="/recipe-input">Add Your Recipe</a>         
        </div>
    </div>
</div>

<h3>Twisted Versions of Fried Rice</h3>
