<h4>Show everyone what you can do in the kitchen by putting your very own twist on these classic recipes!</h4>

<div id="classics" class="container">
    <div class="card">
        <div class="card-body">
            <a href="/meatloaf">
                <h4 class="card-title">Classic Meatloaf</h4>
            
                <img src="/images/meatloaf.jpeg" class="card-img" alt="Meatloaf"> 
            </a>         
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/fried-rice">
                <h4 class="card-title">Fried Rice</h4>
            
                <img src="/images/fried-rice.jpg" class="card-img" alt="Fried Rice"> 
            </a>         
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/chicken-soup">
                <h4 class="card-title">Chicken Soup</h4>
            
                <img src="/images/chicken-soup.jpeg" class="card-img" alt="Chicken Soup">  
            </a>        
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/mac-cheese">
                <h4 class="card-title">Mac and Cheese</h4>
            
                <img src="/images/mac-cheese.jpg" class="card-img" alt="Mac & Cheese">
            </a>          
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <a href="/chocolate-cake">
                <h4 class="card-title">Chocolate Cake</h4>
            
                <img src="/images/choc-cake.jpg" class="card-img" alt="Chocolate Cake"> 
            </a>         
        </div>
    </div>
</div>
    