<form class="login-form">
    <div>
        <label for="email-login">E-mail:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <button type="submit">Log In</button>
</form>

<script src="/javascript/login.js"></script>