<div id="classics" class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mac and Cheese</h4>
        
            <ul>
                <li>1 cup Bread Crumbs</li>
                <li>5 tablespoons Butter</li>
                <li>1 pound Elbow Macaroni</li>
                <li>6 tablespoons AP Flour</li>
                <li>1 1/2 teaspoons Dry Mustard</li>
                <li>1/4 teaspoon Cayenne Pepper</li>
                <li>5 cups Whole Milk</li>
                <li>8 ounces Monterey Jack Cheese, shredded</li>
                <li>8 ounces Sharp Cheddar Cheese, shredded</li>
                <li>Salt</li>
            </ul> 

            <p>Cook macaroni in salted boiling water until tender.
            <br>Melt butter in pot, whisk in flour, mustard, cayenne and 1 teaspoon salt. Cook 1 minute. 
            <br>Slowly whisk in milk until smooth. Bring to boil and allow to simmer until thickened, about 5 minutes.
            <br>Off heat, whisk in cheeses until fully melted.
            <br>Add macaroni and cook over medium-low heat, stirring constantly, until heated through.
            <br>Transfer mixture to 9x13inch baking dish, top with bread crumbs and broil until crumbs are deep, golden brown.
            <br>Rest 5 minutes then serve.</p>

            <button type="submit">Add Your Recipe</button>         
        </div>
    </div>

    <h3>Twisted Versions of Mac and Cheese</h3>