<div id="classics" class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Classic Meatloaf</h4>
        
            <ul>
                <li>1/2 cup Ketchup</li>
                <li>1/4 cup Light Brown Sugar</li>
                <li>4 teaspoons Apple Cider Vinegar</li>
                <li>12oz Ground Beef</li>
                <li>12oz Ground Pork</li>
                <li>14 crushed Saltine Crackers</li>
                <li>1/2 cup Milk</li>
                <li>1 Egg</li>
                <li>2 teaspoons Dijon Mustard</li>
                <li>2 teaspoons Worcestershire Sauce</li>
                <li>1/2 teaspoon Garlic Powder</li>
                <li>1/2 teaspoon dried Thyme</li>
                <li>Salt and Pepper</li>
            </ul> 

            <p>Combine ketchup, brown sugar and cider vinegar. Set aside.
            <br>Combine remianing ingredients and knead with hands until evenly blended.
            <br>Transfer meat mixture to foil lined sheet pan and form into 9x5inch loaf. Brush with half of ketchup mixture.
            <br>Bake at 350 degrees for 45 minutes.
            <br>Brush with reminaing ketchup mixture and bake 15-25 minutes more, or until meatloaf registers 160 degrees.
            <br>Transfer meatloaf to cutting board and allow to rest for 10 minutes. Slice and serve.
            </p>

            <button type="submit">Add Your Recipe</button>         
        </div>
    </div>

    <h3>Twisted Versions of Classic Meatloaf</h3>

    <!--<a href="/recipe/{{recipe.id}}">{{recipe.title}}</a>-->