<section class="new-recipe">
    <h3>Add Your Twisted Recipe</h3>

    <form class="new-recipe-form">
        <div>
            <input type="text" id="recipe-title" name="recipe-title" placeholder="Recipe Title">
        </div>
        <div>
            <textarea name="ingredient-list" placeholder="Ingredients"></textarea>
        </div>
        <div>
            <textarea name="method" placeholder="Instructions"></textarea>
        </div>
        <button type="submit" class="recipe-btn">Post Recipe</button>
    </form>
</section>