<section class="recipe">
    
</section>

<!--{{#if loggedIn}}-->
<h5>Post your thoughts on this recipe!</h5>
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <button type="submit">Add Comment</button>
</form>
<!--{{/if}}-->

{{!-- <div class="comments">
    <!--access comments array with "this"-->
    {{#each this}}
    <section class="comment">
        <div class="comment-text">
            {{comment_text}}
        </div>
        <div class="meta">
                                <!--helper for date formatting-->
            Posted by {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}} --}}